

.dropdown-toggle::after {
    display: none;
}

.navbar-nav > li.nav-item {
    margin: 0 15px;
}


.navbar-nav > .nav-item > .nav-link {
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #4d4d4f;
    padding: 5px 15px;
}

.navbar-nav > .nav-item:hover > .nav-link {
    background-color: #f7941d;
    color: white;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #4d4d4f;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: white;
}

.nav-gray.nav-link {
    color: #939598;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px 15px;
}

nav.navbar {
    background: transparent !important; 
}

div.nav-products {
    border-radius: 0 10px 10px;
    box-shadow: 0px 2px 5px 1px #818185;
    border: 0px;
}


.white-dropdown i {
    float: right;
}

.white-dropdown {
    border-radius: inherit;
    min-width: 12rem;
    max-width: 16rem;
}

.white-dropdown a {
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
    white-space: unset;
}

.orange-dropdown {
    border-radius: inherit;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    box-shadow: -1px 0px 4px #939598; 
}

.dropdown-menu.show.flex-drop {
    display: flex;
    padding: 0;
}

.dropdown-menu > div > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu > .white-dropdown{
    background: white;
}

.dropdown-menu .orange-dropdown { 
    background: #f7941d;
    display:none;
}

.dropdown-menu .orange-dropdown.show { 
    display:block;
}

.dropdown-item {
    text-underline-offset: 6px;
}

.white-dropdown .dropdown-item:hover {
    background-color: white;
    text-decoration: underline;
    color: #f7941d;
    /* cursor: pointer; */
}

.orange-dropdown .dropdown-item {
    background-color: inherit;
    color: white;
}

.orange-dropdown .dropdown-item:hover {
    text-decoration: underline;
    color: white;
}

.white-dropdown a.dropdown-item.a-selected {
    text-decoration: underline;
    color: #f7941d;
}
