

.dropdown-toggle::after {
    display: none;
}

.navbar-nav > li.nav-item {
    margin: 0 15px;
}


.navbar-nav > .nav-item > .nav-link {
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #4d4d4f;
    padding: 5px 15px;
}

.navbar-nav > .nav-item:hover > .nav-link {
    background-color: #f7941d;
    color: white;
}

.nav-gray.nav-link {
    color: #939598;
}

nav.navbar {
    background: transparent !important; 
}

.dropdown-menu.show.flex-drop {
    display: flex;
    padding: 0;
}

.dropdown-menu > div > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu > .white-dropdown{
    background: white;
}

.dropdown-menu .orange-dropdown { 
    background: #f7941d;
    display:none;
}

.dropdown-menu .orange-dropdown.show { 
    display:block;
}

.dropdown-item {
    text-underline-offset: 6px;
}

.white-dropdown .dropdown-item:hover {
    background-color: white;
    text-decoration: underline;
    color: #f7941d;
    /* cursor: pointer; */
}

.orange-dropdown .dropdown-item {
    background-color: inherit;
    color: white;
}

.orange-dropdown .dropdown-item:hover {
    text-decoration: underline;
    color: white;
}

.white-dropdown a.dropdown-item.a-selected {
    text-decoration: underline;
    color: #f7941d;
}
