.element-11 {
    height: 500px;
}

.img-11 {
    position: absolute;
    top: 0;
    left: calc(50%);
    transform: translatex(-50%);
    object-fit: cover;
    height: 100%;
    width:100%;
}

.text-11 {
    top: 0;
    left: 0;
}