.text-11 {
    padding: 20px;
    width: 200px;
}

.fullw-img-11 {
    width: 100%;
    height: auto;
}

.vcenter-11 {
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.hcenter-11 {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.vhcenter-11 {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}