
.flex-24:not(.reverse-24) > .text-24 {
    margin-right: 1rem;
}

.flex-24.reverse-24 > .text-24 {
    margin-left: 1rem;
}

.flex-24:not(.reverse-24) {
    flex-direction: row-reverse;
}

.flex-24.reverse-24 {
    flex-direction: row;
}


.visual-24  {
    width: 500px;
}

.visual-24 .img-content-24 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: inherit;
    padding-bottom: 1rem;
}

.visual-24 .img-content-24 img {
    width: inherit;
}

@media screen and (max-width: 768px) {
    
    .flex-24:not(.reverse-24) > .text-24, .flex-24.reverse-24 > .text-24{
        margin: auto;
    }

    .visual-24 {
        width: 100%;
        position: sticky;
        top:0;
    }

    .visual-24 .img-content-24{
        position: static;
        top: unset;
    }
    
}