
.tabs25 .nav-tabs .nav-link {
    margin-bottom: -2px;
    border: 0;
    background-color: inherit;
    border-color: inherit;
    color: gray;
}

.tabs25 .nav-tabs .nav-link:not(.active) {
    border-bottom: 3px solid transparent;
}

.tabs25 .nav-tabs .nav-link.active {
    border-bottom: 3px solid green;
    color: black;

}

.tabs25 ul.nav.nav-tabs {
    width: 100%;
    overflow-x: scroll;
}

.tabs25 ul.nav.nav-tabs > li.nav-item > button.nav-link {
    height: 100%;
    white-space: nowrap;
}

.tabs25 .nav-tabs .nav-item {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.row-overflow-wrapper {
    width: 100%;
    overflow-x: auto;
}
.row-overflow-wrapper::-webkit-scrollbar {
    display: none;
}
.row-overflow-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.progress-25{
    height: 6px;
}

.progress-25 > .progress-bar {
    width: 0%;
}

.progress-25 > .start-transition {
    width: 0% !important;
}

.v-center {
    display: flex;
    align-items: center;
}