

.searchbar-desk {
    position: relative;
}

.searchbar-desk .search-form input::-webkit-search-cancel-button {
    filter: hue-rotate(130deg);
    -webkit-appearance: none;
}

.searchbar-desk .search-form {
    transition: 0.6s;

    position: absolute;
    right: 100%;
}

.vishid {
    visibility: hidden;
}

input.form-control {
    width: 250px;
}

.searchbar-desk .search-form.hidden-search {
    opacity: 0;
}
